
$color-train: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
$color-train-cards: linear-gradient(#fbb034 0%, #ffdd00 40%, #fff 0, #fff);
$color-play: linear-gradient(315deg, #c28fb1 0%, #ff8489 74%);
$color-play-cards: linear-gradient(#c28fb1 0%, #ff8489 40%, #fff 0, #fff);
$color-light: #FFFFFF;
$color-nav-hover: tomato;
$color-nav-active: rgb(11, 11, 145);


$padding-top-header-1350: 20px;
$padding-right-1350: 120px;