.about-wrapper {
    padding: 80px 175px 100px;
}

.about-content {
    max-width: 430px;
    padding-top: 20px;
}

.about__title {
    max-width: 360px;
}

h3 {
    margin: 0;
    letter-spacing: 0.06em;
}

.about__text {
    margin-top: 25px;
}