.our-friends {
    background: $color-light-l;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;

    @include media-tablet {
        padding-top: 81px;
    }
    @include media-mobile {
        padding-top: 42px;
        padding-bottom: 43px;
    }
}

.our-friends__title {
    max-width: 400px;
    margin: 0 auto;
}

.our-friends-slider {
    padding: 60px 0px;
    align-items: center;
    flex-wrap: wrap;
    @include media-mobile {
        flex-wrap: wrap;
        width: 270px;
        margin: 0 auto;
        padding: 42px 0px;
    }
}

.our-friend-cards {
    max-width: 990px;
    overflow: hidden;
    @include media-tablet {
        max-width: 580px;
    }
    @include media-mobile {
        margin-bottom: 20px;
    }

}

.our-friend-card {
    background:$color-light-s;
    padding-bottom: 30px;
    border-radius: 9px 9px 0px 0px;
    margin-right: 90px;

    &:last-child {
        margin-right: 0px;
    }

    h5 {
        margin-top: 23px;
        margin-bottom: 30px;
        @include media-tablet {
            margin-bottom: 29px;
        }
    }

    &:hover {
        background:$color-light-xl;
    }

    @include media-tablet {
        margin-right: 40px;
    }
}