body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.switch {
  position: relative;
  font-size: 16px;
  width: 175px;
  /* left: calc(100% - 130px); */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  margin-bottom: 10px;
}
.switch-checkbox {
  display: none;
}
.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #bbb9b9;
  border-radius: 20px;
}
.switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switch-inner:before,
.switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  /* height: calc(50px - $padding-top-header-1350); */
  padding: 0;
  line-height: 30px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.switch-inner:before {
  content: "TOTAL";
  padding-left: 10px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  color: white;
}
.switch-inner:after {
  content: "PER 100 000";
  padding-right: 10px;
  background-color: #d5adc8;
  background-image: #861657;
  color: white;
  text-align: right;
}
.switch-switch,
.switch-switch {
  display: block;
  width: 46px;
  margin: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 125px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.switcher-period .switch-inner:before{
  content: "WHOLE TIME";
}
.switcher-period .switch-inner:after {
  content: "LAST DAY";
}

.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
  right: 0px;
}

/* table */

.table {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  margin-left: 20px;
}

.table div {
  flex-basis: 33%;
  padding: 15px;
  box-sizing: border-box;
}

.table div:nth-child(3n + 3),
.table div:nth-child(2),
.table div:nth-child(5) {
  border-right: 1px solid #ebebeb;
}

.table div:nth-child(n + 5) {
  padding-top: 0;
}

.table .table-country {
  flex-basis: 100%;
  font-weight: bold;
}

.flag {
  width: 30px;
  margin-right: 15px;
}

/* list */
.list {
  width: 350px;
  height: 500px;
  overflow-y: scroll;
  margin-top:20px;
  margin-left: 20px;
  background-color: grey;
}

.list::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #404040;
}
::-webkit-scrollbar-thumb {
  background: black;
}

.country-list-line {
  padding: 5px;
  border-bottom: 1px solid black;
}

.num-list {
  font-weight: bold;
  color:#960404;
}

.num-list,
.country-list {
  padding-right: 10px;
}
.tab {
  background-color: gray;
  margin-left: 20px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.tab span {
  padding: 5px;
  width: 100px;
}

.active {
  background-color: rgb(51, 49, 49);
  color: white;
}