html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    @include font( $size: 1.5rem, $height: 2.4rem );
    color: $color-dark-xl;
    // position: relative;
}

h1 {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

h2 {
    @extend %font-add;
    @include font( $size: 4.4rem, $height: 5.7rem );
}

h3 {
    @extend %font-add;
    @include font( $size: 3.5rem, $height: 4.5rem );
    color: $color-dark-l;
    margin: 0;
}

h4 {
    @extend %font-add;
    @include font( $size: 3.2rem, $height: 3.5rem );
}

h5 {
    @extend %font-add;
    @include font( $size: 2.0rem, $height: 2.3rem );
    color: $color-dark-l;
}

// h5 {
//     @include font($size: 1.6rem, $height: 2.6rem);
// }

// .block-shadowed {
//     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
//     border-radius: 10px;
// }