*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 1600px;
    /* overflow: hidden; */
    margin: 0 auto !important;
    background: url(./assets/bg-image.png) no-repeat;
    background-size: 1600px 744px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
li {
    list-style-type: none;
}


/* header */
header h1{
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    font-family: 'Roboto', sans-serif;
    padding: 37px 0;
    margin-bottom: 102px;
}
.main_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-size: 14px;
    line-height: 140%;
}

header a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 1px 0px;
    opacity: 0.8;
    position: relative;
}

header a:hover{
    opacity: 1;
    color: #2632cc;
}

header img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.nav_about {
    left: 270px;
}

.nav_syllabus {
    left: 124px;
}

.nav_img {
    top: -14px;
    left: -7px;
    opacity: 1;
}

.nav_projects {
    left: -138px;
}

.nav_faq{
    left: -284px;
} 

a.active {
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    opacity: 1;
    border-bottom: 1px solid white;
}


/* second part; section promo */
.promo {
    text-align: center;
    margin-bottom: 86px;
}

.promo_slogon{
    margin-right: -4px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.promo_text {
    font-size: 18px;
    width: 480px;
    margin: 0 auto;
    line-height: 140%;
    margin-bottom: 29px;
}


.promo button,
.presentation_info button,
.implement button {
    font-size: 14px;
    line-height: 16px;
    background: #00AFDB;
    border: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.promo button {
    padding: 16px 48px 14px 47px;
    /* margin-right: 2px; */
    margin-bottom: 183px;
}

.presentation_info button {
    padding: 16px 47px 14px;
}

.implement button{
    padding: 16px 48px 14px 46px;
}

.promo button:hover,
.presentation_info button:hover,
.download button:hover,
.implement button:hover {
    cursor: pointer;
    background: #FFC107;
    color: #2632cc;
}
.promo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    margin: 0 auto;
}

.promo ul li {
    margin-right: 30px;
}
.promo img:hover {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);

}

/* third part; section rappresent */
.presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
    color: black;
    padding: 120px 269px;
}

.presentation_info {
    width: 407px;
    /* margin-left: -1px; */
    
}

.presentation_info h3{
    width: 391px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 174px;
}

.presentation_info p {
    font-size: 14px;
    line-height: 143%;
    color: #4E4E4E;
    margin-top: 22px;
    margin-bottom: 28px;
    font-style: normal;
    font-weight: normal;
}

/* forth part; section community */

.community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 79px;
    padding-bottom: 140px;
    padding-left: 268px;
    background-color: #F5F6F7;
}

.community h3 {
    padding-left: 2px;
    padding-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    overflow: hidden;

}

.community p {
    font-size: 14px;
    line-height: 143%;
    padding-top: 11px;
    color: #4E4E4E;
}

.community span {
    font-size: 18px;
    line-height: 140%;
    color: #373737;

}

.community_info{
    padding-top: 77px;
}

.community_info {
    width: 300px;
    text-align: center;
}

.community_slider_nav {
    padding-left: 411px;
    margin-bottom: 16px;

}

.community_slider_nav img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.5;

}

.community_slider_carousel {
    height: 244px;
    padding-left: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 1032px;
}

.community_slider_carousel img{
    padding-right: 30px;
}

.community_slider_carousel img:last-child{
    padding-right: 0;
    width: 407px;
    height: 244px;
    overflow: hidden;
}


/* fifth part; section implement */
.implement {
    padding-top: 120px;
    padding-left: 269px;
    padding-bottom: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.implement h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

.implement p {
    font-size: 14px;
    line-height: 143%;
    color: #4E4E4E;
}

.implement_info {
    padding-left: 139px;
    padding-top: 198px;
}

.implement_info h3{
    margin-bottom: 21px;
}

.implement_info p{
    width: 410px;
    margin-bottom: 29px;
}


/* six part; section sign */
.sign {
    background: url(./assets/Frame\ 7.png) no-repeat;
    /* background-size: 1600px 598px; */
    height: 524px;
    text-align: center;
}
.sign h3{
    font-style: normal;
    font-weight: bold;
    padding-top: 200px;
    margin-left: 1px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sign input {
    width: 340px;
    height: 46px;
    padding-left: 24px;
    border: none;
    vertical-align: bottom;
}

::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    color: #373737;

}

::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    color: #373737;

}

:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    color: #373737;

}

::-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #373737;

}

::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #373737;

}

.sign button {
    border: none;
    padding-top: 1px;
    height: 46px;
    width: 66px;
    margin-left: -3px;
    background-color: #00AFDB;
    vertical-align: bottom;
}

.sign button img {
    width: 19px;
    height: 16.52px;
}

.sign button:hover img{
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8)
}

/* seventh part; section download */

.download{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 180px;
    background-color: #F5F6F7;
}

.download h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px;
}

.download div {
    display: inline-block;
    margin-right: 30px;
}

.download_store_apple {
    margin-left: 33px;
}

.download p{
    width: 483px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 143%;
    /* or 20px */
    text-align: center;
    color: #4E4E4E;
    margin-bottom: 29px;
}

.download .download_store_name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00AFDB;
    width: 128px;
    /* height: 50px; */
}
.download button {
    background-color: #009CC2;
    border: none;
    padding: 7px;
    vertical-align: bottom;
    width: 58px;
    height: 46px;
}

.download button:hover img{
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6)
}

.download_icon {
    margin-left: -4px;
}

.download_store_android {
    position: relative;
    left: -3px;
}

/* last part; footer */

footer {
    background-color: black;
    height: 184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 160px;
}

footer p {
    display: inline-block;
    font-size: 14px;
    line-height: 140%;
    color: #818181;
}

footer li {
    display: inline-block;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.98;
    padding-right: 16px;
}

footer li::after {
    content: url(./assets/mnu-items-divider.png);
    padding-left: 20px;
    /* width: 8px;
    height: 0px; */
}

footer li:last-child::after{
    content: none;
}

footer li:hover {
    cursor: pointer;
    color: #FFC107;
    text-decoration: underline;
}

footer ul,
footer img,
footer p {
    position: relative;
    top: -9px;
}

footer img {
    left: -42px;
}