.btn-wrapper {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 20px 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background: $color-play;
  color: #fff;
  border-radius: 10px;
  outline: 0!important;
  border-width: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.none {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.repeat {
    width: 65px;
    font-size: 0;
    background-image: url(../assets/img/repeat.svg), $color-play;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px,cover;
    background-position: 50%;
}

.stat-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  @include media-tablet {
    width: 700px;
  }

  @include media-mobile {
    width: 500px;
  }
}

.stat-btn {
  background-color: $color-stat;
  color: $color-light;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;

  &:active {
    background-color: $color-stat-active;
  }
}

#repeat {
  margin-right: 2rem;
}
