.cards-block {
  margin-left: 60px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px;
  max-width: 1440px;

  @include media-mobile {
    margin-left: 0;
    padding: 20px 0;
  }
}

.main-wrapper {
  max-width: 1750px;
  margin: 0 auto;
}

.main-card {
    width: 300px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #212529;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background: $color-train-cards;
    // background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
    margin: 20px 25px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;

    &.play-mode {
      background: $color-play-cards;
    }
}


.main-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.main-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}