.onoffswitch {
  position: relative;
  width: 125px;
  left: calc(100% - 130px);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #bbb9b9;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: calc(50px - $padding-top-header-1350);
  padding: 0;
  line-height: 30px;
  font-size: 1.8rem;
  color: $color-light;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "TRAIN";
  padding-left: 10px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  color: $color-light;
}
.onoffswitch-inner:after {
  content: "PLAY";
  padding-right: 10px;
  background-color: #d5adc8;
  background-image: $color-play;
  /* background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%); */
  color: $color-light;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 46px;
  margin: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 75px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
